

{% set page_name = "index"%}
{% extends "base/base.html" %}

{% import "macros/imports.html" as imports %}
{% import "macros/components.html" as comps%}
{% import "macros/config.html" as config %}

{%block head_imports%}
{{imports.select2css()}}
{%endblock%}

{%block early_imports%}
{{imports.select2js()}}
{%endblock%}

{%block header_text%}Submit Report{%endblock%}

{%block content%}
<main class="container my-4">
  <form method="post">
    {{comps.searchable_dropdown("laptop", "Laptop Model",config.laptop_list ,"e.g. Dell XPS 13")}}
    {{comps.text_input("cpu", "CPU Model", "e.g. Intel Core i7-1165G7")}}
    {{comps.text_input("gpu", "GPU Model", "e.g. NVIDIA GeForce RTX 3060")}}
    {{comps.text_input("ram", "RAM Size (GB)", "e.g. 16",True)}}
    {{comps.storage_chooser()}}
    {{comps.text_input("distro", "Distro", "e.g. Ubuntu 24.04")}}
    {{comps.text_input("kernel", "Kernel Version", "e.g. 6.9.2", regex="\d+\.\d+\.\d+(-\w+)?(-\w+)?(\+\w+)?$")}}

    {{comps.multi_list_dropdown("working", "Working Features", config.available_features, note_option=True)}}

    {{comps.textarea_input("notes", "Notes", "Describe what works, what doesn't...")}}

    {{comps.text_input("username", "Username", "e.g. johndoe")}}

    {# TODO: Add captcha #}

    <button type="submit" class="btn btn-primary">Submit Report</button>
  </form>
</main>
{%endblock%}